@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body {
	width: 150px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}

fieldset {
	border: #ccc solid thin;
	border-radius: 2px;
	margin-bottom: 10px;
}

hr {
	height: 1px;
	background-color: gray;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

button {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}